<launch>

  <arg name="image_topic" default="/camera/image_raw"/>
  <arg name="config_file" default="$(find ros_to_rtmp)/config/rtmp_cpp.yaml"/>
  
  <node pkg="ros_to_rtmp" type="ros_image_to_rtmp_node" name="ros_to_rtmp_node" output="screen">
    <param name="image_topic" value="$(arg image_topic)"/>
    <rosparam file="$(arg config_file)"/>
  </node>

</launch>