<launch>
  
  <arg name="config_file" default="$(find ros_to_rtmp)/config/rtmp.yaml"/>
  <arg name="img_topic" default="camera/image_raw"/>
  <arg name="python_env" default="$(find semantic_inference_python)/ros_semantics_env/bin/python" doc="Python environment for open vocab"/>


  <node name="ros2rtmp_node" pkg="ros_to_rtmp" type="rtmp_node.py" output="screen" launch-prefix="$(arg python_env)">
    <rosparam file="$(arg config_file)"/>
    <remap from="camera/image_raw" to="$(arg img_topic)"/>
  </node>

</launch>